#body{
    background: url(https://img.freepik.com/free-photo/vegetables-set-left-black-slate_1220-685.jpg?t=st=1710529457~exp=1710533057~hmac=25ac2bb97d242dcc7df224ac4cef42a1eef110ff144c006fbb2fc9fabc4d21ea&w=1380);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h3{
    text-align: center;
    padding-bottom: 15px;
    color: white;
}

#partSignup{
    margin: 80px;
    padding: 30px 60px;
    width: 600px;
}

#partBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    
}

.btn{
    background-color: black;
    border: black;
    font-size: larger;
    padding: 15px 30px;
    width: 300px;
}

@media (max-width: 992px) { 
    #partSignup{
        margin: 20px;
        padding: 0;
        width: 300px;
    }
    input{
        width: 300px;
        align-items: center;
        justify-content: center;
    }
    .btn{
        background-color: black;
        border: black;
        font-size: smaller;
        padding: 15px 30px;
        width: 300px;
    }
}

@media (max-width: 768px) { 
    #partSignup{
        margin: 20px;
        padding: 0;
        width: 300px;
    }
    input{
        width: 300px;
        align-items: center;
        justify-content: center;
    }
    .btn{
        background-color: black;
        border: black;
        font-size: smaller;
        padding: 15px 30px;
        width: 300px;
    }
}

@media (max-width: 576px) {
    #partSignup{
        margin: 20px;
        padding: 0;
        width: 300px;
    }
    input{
        width: 300px;
        align-items: center;
        justify-content: center;
    }
    .btn{
        background-color: black;
        border: black;
        font-size: smaller;
        padding: 15px 30px;
        width: 300px;
    }
}