<!-- <div class="part">
    <div class="row p-5">
        <div class="col-6 text-justify">
            <h2>Üdvözöllek a receptmegosztó oldalamon!</h2>
            <h4 class="mt-5">Kedves Látogató!</h4>
            <p >Örömmel köszöntelek a Receptes Könyvem világában, ahol az ízek és aromák találkoznak, hogy együtt fedezzük fel az ételek és italok varázslatos világát. Itt, az online kulináris kalandban, kiváló lehetőséged nyílik a mindennapi ételek egyszerűségétől a különlegesebb ételkülönlegességekig terjedő receptek felfedezésére.</p>
        </div>
        <div class="col-6 d-flex justify-content-center">
            <img class="img-fluid" src="https://img.freepik.com/free-photo/close-up-delicious-meal-preparation_23-2149059107.jpg?t=st=1709234527~exp=1709238127~hmac=5d2681772e7c05dfbefae4c4a512d6776a580fa9ebcc33b4a2dc6738df031f43&w=996" alt="kep1" style="width: fit-content;">
        </div>
    </div>
</div>

<div class="part">
    <div class="row p-5">
        <div class="col-6 d-flex justify-content-center">
            <img class="img-fluid" src="https://img.freepik.com/free-photo/top-view-table-full-delicious-food-composition_23-2149141352.jpg?t=st=1710498316~exp=1710501916~hmac=ae0a17ba89d183961bbd340f9b9b4e2031dbc52e270721daa7dd84446a543f47&w=996" alt="kep2" style="width: 100%">
        </div>
        <div class="col-6 text-justify">
            <h2>Miért éppen a Receptes Könyv?</h2>
            <p>A Receptes Könyv célja az, hogy inspirációt nyújtson mindenki számára, aki szeret főzni, vagy épp csak vágyik az ízek világában való kalandozásra. A receptek sokszínűsége révén mindenki megtalálhatja a saját ízlésének és étrendjének megfelelő fogásokat. Legyen szó egyszerű és gyors hétköznapi ételekről vagy különleges alkalmakra szánt gourmet receptekről, itt mindent megtalálsz.</p>
        </div>
        
    </div>
</div>

<div class="part">
    <div class="row p-5">
        <div class="col-6 text-justify">
            <h2>Mi vár Rád?</h2>
            <ul>
                <li>
                    <h5>Receptek a világ minden tájáról:</h5>
                    <p>Fedezd fel a különböző konyhákat és kultúrákat, miközben kipróbálsz új és izgalmas ételeket.</p>
                </li>
                <li>
                    <h5>Receptek hozzáadása:</h5>
                    <p>Fedezz fel új ízeket és különleges ételeket a saját receptjeid hozzáadásával. Legyen szó mindennapi fogásokról vagy különleges ételekről, a receptekkel könnyedén megoszthatod kulináris kreativitásodat.</p>
                </li>
                <li>
                    <h5>Receptek szerkesztése:</h5> 
                    <p>Finomhangold és személyre szabottá tedd receptjeidet. Szerkeszd az összetevőket, utasításokat és minden egyéb részletet az ízlésed és igényeid szerint.</p>
                </li>
                <li>
                    <h5>Recepteskönyv generálás:</h5>
                    <p>Hozz létre saját recepteskönyvet a hozzáadott fogásaidból. Válogass és rendezd a recepteket egy könyvben, hogy könnyen hozzáférhess.</p> 
                </li>
            </ul>
        </div>
        <div class="col-6 d-flex justify-content-center">
            <img class="img-fluid" src="https://img.freepik.com/free-photo/delicious-pasta-plate_23-2150690693.jpg?t=st=1710499108~exp=1710502708~hmac=16d296f9287e5acaa61046fda18ea33a0a136f7ab36f13c9c5a8d46c5544b0d9&w=360" alt="kep3" style="width: fit-content">
        </div>
    </div>
</div>

<div class="part">
    <div class="row p-5">
        <div class="col-6 d-flex justify-content-center">
            <img class="img-fluid" src="https://img.freepik.com/free-photo/fresh-pasta-with-hearty-bolognese-parmesan-cheese-generated-by-ai_188544-9469.jpg?t=st=1710499808~exp=1710503408~hmac=6afd96b7bc96396e1bfa806551849f9221de21f2b80db8b8bd11e172fd33ed84&w=1060" alt="kep4" style="width: fit-content">
        </div>
        <div class="col-6 text-justify">
            <h2>Böngéssz, keresgélj, kóstolj!</h2>
            <p>Várunk a receptek gazdag tárházában, ahol mindig friss és kreatív ötletekkel találkozhatsz. Ne feledd, a Receptes Könyv mindig nyitva áll a gasztronómiai felfedezések és kulináris kihívások előtt. Engedd, hogy az ízek vezessenek és élvezd a kreatív konyhaművészet minden pillanatát!</p>
            <p>Jó étvágyat és jó főzést kívánunk!</p>
            <p>Szeretettel,</p>
            <p>a Receptes Könyv csapata</p>
        </div>
        
    </div>
</div> -->



    



<section class="part-light full-width-container">
    <div class="row align-items-center">
        <div class="col-lg-6 order-lg-1 order-1 text-justify ">
            <h2>Üdvözöllek a receptmegosztó oldalamon!</h2>
            <h4 class="mt-5">Kedves Látogató!</h4>
            <p>Örömmel köszöntelek a Receptes Könyvem világában, ahol az ízek és aromák találkoznak, hogy együtt fedezzük fel az ételek és italok varázslatos világát. Itt, az online kulináris kalandban, kiváló lehetőséged nyílik a mindennapi ételek egyszerűségétől a különlegesebb ételkülönlegességekig terjedő receptek felfedezésére.</p>
        </div>
        <div class="col-lg-6 order-lg-2 order-2 d-flex justify-content-center">
            <img class="img-fluid" src="https://img.freepik.com/free-photo/close-up-delicious-meal-preparation_23-2149059107.jpg?t=st=1709234527~exp=1709238127~hmac=5d2681772e7c05dfbefae4c4a512d6776a580fa9ebcc33b4a2dc6738df031f43&w=996" alt="kep1" style="max-height: 100%;">
        </div>
    </div>
</section>


<div class="part-dark full-width-container">
    <div class="row  align-items-center ">
        <div class="col-lg-6 order-lg-2 order-1 text-justify">
            <h2>Miért éppen a Receptes Könyv?</h2>
            <p>A Receptes Könyv célja az, hogy inspirációt nyújtson mindenki számára, aki szeret főzni, vagy épp csak vágyik az ízek világában való kalandozásra. A receptek sokszínűsége révén mindenki megtalálhatja a saját ízlésének és étrendjének megfelelő fogásokat. Legyen szó egyszerű és gyors hétköznapi ételekről vagy különleges alkalmakra szánt gourmet receptekről, itt mindent megtalálsz.</p>
        </div>
        <div class="col-lg-6 order-lg-1 order-2 d-flex justify-content-center">
            <img class="img-fluid" src="https://img.freepik.com/free-photo/top-view-table-full-delicious-food-composition_23-2149141352.jpg?t=st=1710498316~exp=1710501916~hmac=ae0a17ba89d183961bbd340f9b9b4e2031dbc52e270721daa7dd84446a543f47&w=996" alt="kep2" style="width: 100%">
        </div>
    </div>
</div>

<div class="part-light full-width-container">
    <div class="row align-items-center">
        <div class="col-lg-6 text-justify">
            <h2>Mi vár Rád?</h2>
            <ul class="list-unstyled">
                <li>
                    <h5><i class="bi bi-arrow-right-circle"></i> Receptek a világ minden tájáról:</h5>
                    <p>Fedezd fel a különböző konyhákat és kultúrákat, miközben kipróbálsz új és izgalmas ételeket.</p>
                </li>
                <li>
                    <h5><i class="bi bi-arrow-right-circle"></i> Receptek hozzáadása:</h5>
                    <p>Fedezz fel új ízeket és különleges ételeket a saját receptjeid hozzáadásával. Legyen szó mindennapi fogásokról vagy különleges ételekről, a receptekkel könnyedén megoszthatod kulináris kreativitásodat.</p>
                </li>
                <li>
                    <h5><i class="bi bi-arrow-right-circle"></i> Receptek szerkesztése:</h5> 
                    <p>Finomhangold és személyre szabottá tedd receptjeidet. Szerkeszd az összetevőket, utasításokat és minden egyéb részletet az ízlésed és igényeid szerint.</p>
                </li>
                <li>
                    <h5><i class="bi bi-arrow-right-circle"></i> Recepteskönyv generálás:</h5>
                    <p>Hozz létre saját recepteskönyvet a hozzáadott fogásaidból. Válogass és rendezd a recepteket egy könyvben, hogy könnyen hozzáférhess.</p> 
                </li>
            </ul>
        </div>
        <div class="col-lg-6 d-flex justify-content-center">
            <img class="img-fluid" src="https://img.freepik.com/free-photo/delicious-pasta-plate_23-2150690837.jpg?t=st=1710522690~exp=1710526290~hmac=a4735a894fd631dae33dde637bc53802d2e253b11f35a0650c7ac9b32024efd5&w=1060">
        </div>
    </div>
</div>

<div class="part-dark full-width-container">
    <div class="row align-items-center">
        <div class="col-lg-6 order-lg-1 order-2 d-flex justify-content-center">
            <img class="img-fluid" src="https://img.freepik.com/free-photo/fresh-pasta-with-hearty-bolognese-parmesan-cheese-generated-by-ai_188544-9469.jpg?t=st=1710499808~exp=1710503408~hmac=6afd96b7bc96396e1bfa806551849f9221de21f2b80db8b8bd11e172fd33ed84&w=1060" alt="kep4" style="width: fit-content">
        </div>
        <div class="col-lg-6 order-lg-2 order-1 text-justify">
            <h2>Böngéssz, keresgélj, kóstolj!</h2>
            <p>Várunk a receptek gazdag tárházában, ahol mindig friss és kreatív ötletekkel találkozhatsz. Ne feledd, a Receptes Könyv mindig nyitva áll a gasztronómiai felfedezések és kulináris kihívások előtt. Engedd, hogy az ízek vezessenek és élvezd a kreatív konyhaművészet minden pillanatát!</p>
            <p>Jó étvágyat és jó főzést kívánunk!</p>
            <p>Szeretettel,</p>
            <p>a Receptes Könyv csapata</p>
        </div>
        
    </div>
</div>

