<div id="body">
  <div id="partForgotPassword">
    
        
        <div>
          <h3 class="card-title">Elfelejtette jelszavát?</h3>
          <p>Kérlek, írd be az e-mail címed és kiküldjük a jelszó megváltoztatásához szükséges linket.</p>
        </div>
          
          

        <div class="form-floating mb-3">
            <input [(ngModel)]="email" type="email" class="form-control" id="floatingPassword" >
            <label for="floatingPassword">E-mail cím</label>
        </div>

        <div class="partBtn">

            <button (click)="forgotPassword()" type="button" class="btn btn-primary mb-3">Jelszó újraküldése</button>

            
            <button routerLink="/signin" type="button" class="btn btn-primary mb-3">Vissza a bejelentkezéshez</button>
        </div>
            

        
      
  </div>
</div>
